div.card_login {
  padding: 3rem 5rem !important;
  width: fit-content;

  div.img_div {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: 300;
  }

  label {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    font-weight: 300;
  }

  input {
    margin-bottom: 1rem;
    display: block;
  }

  button {
    margin-top: 1rem;
    width: 100%;
  }
}
