div.value_card {
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 0;

  div.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img {
      max-height: 3em;
      max-width: 3em;
      background-color: var(--black);
      padding: .8rem;
      border-radius: 1rem;
    }
    span.yellow {
      color: var(--yellow);
    }
    span.red {
      color: var(--red);
    }
    span.green {
      color: var(--green);
    }
  }

  p.title {
    color: var(--gray-300);
    font-size: .9rem;
    margin: .5rem 0;
  }

  p.value {
    font-size: 2rem;
    font-weight: 700;
  }

  p.value_negative {
    font-size: 2rem;
    font-weight: 700;
    color: var(--red);
  }
}
