:root {
  --black: #000000;
  --white: #FFFFFF;

  --gray-700: #171717;
  --gray-500: #1E1E1E;
  --gray-300: #A6B6C8;
  --gray-100: #F6F6F6;

  --yellow: #FFBD09;
  --red: #C10C0C;
  --green: #74C96A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

html {
  // font-size: 15px;
  scroll-behavior: smooth;
}

body {
  // background: var(--gray-500);
  // color: var(--white);
}

div.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

main.main {
  display: flex;
  min-height: 100vh;
}

section.main-section {
  width: 80%;
  background-color: var(--gray-500);
  padding: 3rem 3rem 1.5rem 3rem;
}

@media only screen and (min-width: 1367px) {
  section.main-section {
    width: 85%;
    padding: 5rem 6rem 2rem 6rem;
  }
}

div.card {
  padding: 2rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 1367px) {
  div.card {
    padding: 3rem 4rem;
  }
}

div.card-light {
  background-color: var(--gray-100);
}

div.card-white {
  background-color: var(--white);
}

div.card-black {
  background-color: var(--gray-500);
  color: var(--white);
}

button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button.btn-black {
  height: 2rem;
  border-radius: .5rem;
  background-color: var(--black);
  color: var(--white);
  border: solid 1px var(--black);
  padding: .25rem 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--gray-500);
    color: var(--gray-100);
    border: solid 1px var(--gray-500);
  }
}

input, select, textarea {
  font-weight: 500;
  height: 2.2rem;
  background-color: var(--gray-100);
  border: solid 1px var(--gray-300);
  border-radius: .5rem;
  padding: .5rem;
  &::placeholder {
    font-weight: 300;
  }
}

textarea {
  resize: vertical;
}

option {
  height: 2.2rem;
}

div.filters {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;

  form {
    display: flex;
    align-items: center;

    input {
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    button.search-btn, button.update-btn {
      border: solid 1px var(--gray-300);
      border-radius: .5rem;
      padding: .42rem .5rem;
      img {
        max-height: 1rem;
        max-width: 1rem;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        border: solid 1px var(--gray-500);
        img {
          transform: scale(1.1);
        }
      }
    }

    button.search-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-right: 2rem;
    }

  }

}

form.form-inline {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input, textarea {
    background-color: var(--white);
  }

  textarea {
    height: 4rem;
  }

  label {
    display: grid;
    span {
      font-size: .9rem;
      font-weight: 300;
      margin-bottom: .2rem;
    }
  }

}

button.create-btn, button.clean-btn {
  width: fit-content;
  height: 2rem;
  border-radius: .5rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: .25rem 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--gray-500);
  }
}

button.clean-btn {
  background-color: var(--gray-300);
  &:hover {
    background-color: var(--gray-500);
  }
}

div.title-subtitle {
  h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      color: var(--gray-500);
      font-size: 1rem;
      font-weight: 300;
      border: solid 1px var(--gray-300);
      border-radius: .8rem;
      padding: .5rem 1rem;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:active, &:visited {
        color: inherit;
      }
      img {
        margin-right: .5rem;
        max-height: .8rem;
        max-width: .8rem;
      }
      &:hover {
        transform: scale(1.05);
        color: var(--gray-700);
        font-weight: 500;
        border: solid 1px var(--gray-700);
      }
    }

  }
  small {
    color: var(--gray-300);
    font-weight: 300;
  }

}

span.yellow {
  color: var(--yellow);
}

span.red {
  color: var(--red);
}

span.green {
  color: var(--green);
}

span.date {
  font-weight: 300;
  font-size: .8rem;
}

tr.not-found-results {
  td {
    border-bottom: none !important;
    h2, h3 {
      text-align: center;
      margin: 1rem;
      font-weight: 300;
      color: var(--gray-300);
    }
  }
}

div.w-50 {
  width: 50%;
}

button.delete-btn {
  border: 0;
  &:hover {
    transform: scale(1.1);
  }
}

table.model-list {
  width: 100%;
  text-align: center;

  td, th {
    padding: .8rem 0;
    font-weight: 300;
    text-align: left;
    color: var(--gray-500);
    border-bottom: solid 1px var(--gray-300);
    &:last-of-type {
      text-align: center;
      a {
        text-align: center;
        img {
          margin: 0 .5rem;
          transition: all 0.2s ease-in-out;
        }
        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }
  td.link-view {
    a {
      color: var(--gray-500);
      font-weight: 300;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: var(--gray-300);
      }
      &:visited {
        color: inherit;
      }
    }
  }
  th {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

table.single-model-list {
  margin-bottom: 1rem;
  td {
    font-weight: 500;
  }
  td.info {
    font-weight: 300;
  }
  td.link-view {
    a {
      color: var(--gray-500);
      font-weight: 300;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: var(--gray-300) !important;
      }
      &:visited {
        color: inherit;
      }
    }
  }
}
div.single-model-actions {
  display: flex;
  // flex-direction: column;
  align-items: left;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}

button.edit-btn-gr, button.delete-btn-gr {
  padding: .5rem .75rem;
  border: solid 2px var(--gray-300);
  background-color: var(--white);
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  &:hover {
    transform: scale(1.05);
    border: solid 2px var(--gray-500);
  }
}

button.edit-btn-gr {
  &:hover {
    border: solid 2px var(--gray-500);
  }
}

button.delete-btn-gr {
  &:hover {
    border: solid 2px var(--red);
  }
}

span.job-type-pill {
  font-weight: 300;
  color: var(--white);
  background-color: var(--gray-500);
  border-radius: 1rem;
  margin: 0 .10rem;
}

span.job-type-pill-sm {
  font-size: .65rem;
  padding: .2rem .4rem;
}

span.job-type-pill-gr {
  font-size: .8rem;
  padding: .25rem .5rem;
}

table.job-values-list {
  width: 100%;
  text-align: center;
  margin-top: .5rem;

  td, th {
    font-size: .9rem;
    padding: .5rem 0;
    font-weight: 300;
    text-align: left;
    color: var(--gray-500);
    border-bottom: solid 1px var(--gray-300);
    &:last-of-type {
      text-align: center;
    }
  }
  th {
    font-size: .95rem;
    font-weight: 500;
  }
}

select.multi-select {
  height: fit-content;
  background: var(--white);
  option {
    height: 1.5rem;
  }
}

small.small-form {
  font-weight: 300;
  font-size: .8rem;
  color: var(--gray-300);
}

div.two-col-form {
  display: flex;
  gap: 2rem;
}

p.payment-form-title {
  margin-bottom: 1rem;
}

div.parcelas {
  div.flex {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    label {
      font-size: .9rem;
      font-weight: 300;
      gap: .5rem;
      margin-bottom: .5rem;
      display: flex;
      flex-direction: column;
    }
    button {
      font-size: .7rem;
      height: 2rem;
      margin-bottom: .65rem;
      border-radius: .5rem;
      padding: .5rem;
      border: none;
      background: var(--gray-500);
      color: var(--white);
      transition: all 0.2s ease-in-out;
      &:hover {
        background: var(--green);
      }
    }
  }

}

div.bottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div.value {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--gray-500);
    color: var(--white);
    border-radius: .5rem;
    padding: .8rem;
    font-weight: 300;
    img {
      vertical-align: middle;
      max-height: 2rem;
      max-width: 2rem;
    }
    i {
      font-weight: 300;
      font-size: .7rem;
      font-style: normal;
      display: block;
    }
  }
  button {
    font-size: 1.05rem;
    // padding: .5rem 1rem;
    height: 3.5rem;
  }
}
