section.section {

  div {

    div.values {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    div.jobs_chart {
      display: flex;
      justify-content: space-between;

      div.chart {
        width: 65%;
      }

      div.jobs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 31%;
        padding-top: 1rem;
      }

    }
  }

}

@media only screen and (min-width: 1367px) {
  section.section {

    div {

      div.values {
        gap: 4rem;
        margin-bottom: 3rem;
      }

      div.jobs_chart {
        div.jobs {
          width: 30%;
          gap: 4rem;
        }
      }
    }

  }
}
